################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HeronEngine/.vs/Heron
/HeronEngine/obj/Debug
/HeronEdit/obj/Debug
/HeronEdit/obj
/HeronEngine/.vs/ProjectEvaluation
/HeronEngine/obj
/HeronEngine/net8.0-windows
/Peg/bin/Debug
/Peg/obj
/Peg2/obj
/HeronStandardLibrary/obj
/Util/obj
