################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HeronEngine/.vs/Heron
/HeronEngine/obj/Debug
/HeronEdit/obj/Debug
